@mixin tablet{
	@media screen and (max-width: 1024px){
		@content;
	}
}
@mixin mobile{
	@media screen and (max-width: 767px){
		@content;
	}
}
@mixin mobileSmallWidth{
	@media screen and (max-width: 320px){
		@content;
	}
}
@mixin ipadScreen{
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
		@content;
	}
}
@mixin fillposition{
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}