@charset "UTF-8";
@import 'function_responsive';
@font-face {
	font-family: 'A1MinchoStd-Bold';
	src: url("../assets/fonts/A1MinchoStd-Bold.otf");
}
@font-face {
	font-family: 'RobotoCondensed-Bold';
	src: url("../assets/fonts/RobotoCondensed-Bold.ttf");
}

body{
	font-family: "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku 　Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif;
}
header{
	position: fixed;
	width: 100%;
	z-index: 5;
	transform-origin: center center;
	transition: all 0.5s ease;
}
main{
	overflow: hidden;
}
.back-to-top{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 0px;
	position: fixed;
	bottom: 55px;
	right: 5vw;
	font-size: 30px;
	color: #9c9c96;
	cursor: pointer;
	z-index: 2;
	background-color: #20569d;
	outline: unset !important;
	@include mobile{
		width: 40px !important;
		height: 40px !important;
	}
	span::before{
		content: '';
		position: absolute;
		top: 35%;
		right: 10%;
		width: 40%;
		height: 4px;
		-webkit-transform-origin: top left;
		transform-origin: top left;
		-webkit-transform: rotate(35deg);
		transform: rotate(35deg);
		background-color: white;
		border-radius: 2px;
		-webkit-transition: -webkit-transform 0.3s ease;
		transition: -webkit-transform 0.3s ease;
		transition: transform 0.3s ease;
		transition: transform 0.3s ease, -webkit-transform 0.3s ease;
	}
	span::after{
		content: '';
		position: absolute;
		top: 35%;
		left: 10%;
		width: 40%;
		height: 4px;
		-webkit-transform-origin: top right;
		transform-origin: top right;
		-webkit-transform: rotate(-35deg);
		transform: rotate(-35deg);
		background-color: white;
		border-radius: 2px;
		-webkit-transition: -webkit-transform 0.3s ease;
		transition: -webkit-transform 0.3s ease;
		transition: transform 0.3s ease;
		transition: transform 0.3s ease, -webkit-transform 0.3s ease;
	}
	&:hover{
		opacity: 0.5 !important;
		border: 1px  solid #abb8bf;
		span::before{
			transform: rotate(45deg);
		}
		span::after{
			transform: rotate(-45deg);
		}
	}
}

.header-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 60px;
	width: 100%;
	z-index: 2;
	@include tablet{
		padding: 20px 10px !important;
	}
	&__logo{
		color: #fff;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		h1{
			font-family: 'Montserrat', sans-serif;
			font-size: 36px;
			font-weight: bold;
			@include tablet{
				font-size: 22px;
			}
		}
		&--boxLogo{
			width: max-content;
			position: relative;
			>a{
				position: absolute;
				@include fillposition;
				cursor: pointer;
			}
		}

	}
	&__entry{
		background-color: #013e8d;
		padding: 15px 34px;
		color: #fff;
		font-family: 'RobotoCondensed-Bold', sans-serif;
		font-size: 16px;
		font-weight: bold;
		transform-origin: center center;
		cursor: pointer;
		@include tablet{
			padding: 10px 15px;
			font-size: 14px;
		}
		>a, >a:hover{
			color: #fff;
			text-decoration: none;
		}
		&:hover{
			transform: scale(0.96);
		}
	}
	&__btn-menu{
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		margin-left: 30px;
		position: relative;
		width: 45px;
		height: 45px;
		@include mobile{
			margin-left: 20px;
			width: 30px;
			height: 30px;
		}
	}
	&__line{
		display: block;
		width: 100%;
		height: 4px;
		background-color: #013e8d;
		position: absolute;
		transform-origin: center center;
		&#top{
			transform: translateY(-20px);
			transition: all 1s ease;
			@include tablet{
				transform: translateY(-12px);
			}
		}
		&#middle{
			transition: all 1s ease;
		}
		&#bottom{
			transform: translateY(20px);
			transition: all 1s ease;
			@include tablet{
				transform: translateY(12px);
			}
		}
		&.show{
			&#top{
				transform: rotate(45deg) translateY(0px);
				transition: all 0.6s ease;
			}
			&#middle{
				transform: rotate(135deg) translateY(0px);
				transition: all 0.6s ease;
			}
			&#bottom{
				transform: rotate(135deg) translateY(0px);
				transition: all 0.6s ease;
			}
		}
	}
	
}

.banner-top{
	background-image: url('../images/img_banner-top.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	z-index: 0;
	min-height: 1118px;
	@include tablet{
		min-height: 290px;
	}
	&::after{
		content: '';
		position: absolute;
		@include fillposition;
		background-color: #171719;
		opacity: 0.3;
		z-index: -1;
	}
	&__content{
		position: absolute;
		max-width: 1120px;
		width: 100%;
		margin: auto;
		top: 40%;
		left: 50%;
		transform-origin: center center;
		transform: translateX(-50%);
		color: #fff;
		@include tablet{
			top: 40%;
		}
		h2{
			font-family: 'A1MinchoStd-Bold', sans-serif;
			font-size: 80px;
			font-weight: bold;
			text-align: center;
			@include tablet{
				font-size: 30px;
			}
		}
	}
}
.show{
	transform: translateY(0%);
}
.hide{
	transform: translateY(-100%);
}
.headerMenu{
	background-color: #000;
    padding: 350px 0;
    width: 100%;
	position: absolute;
    top: 0;
    z-index: -1;
    transition: all 0.7s ease;
    @include tablet{
    	height: 100vh;
    }
    @include mobile{
    	padding: 130px 0;
    	height: 100vh;
    	overflow-x: hidden;
    	overflow-y: scroll;
    }
	&__list{
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include tablet{
			flex-flow: row wrap;
			padding: 0 20px;
		}
		@include mobile{
			flex-flow: column wrap;
		}
		&--child{
			width: 100%;
			height: 265px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-top: 5px solid #013e8d;
			background-color: #fff;
			position: relative;
			@include tablet{
				height: 120px;
				width: calc((100% - 20px) / 2);
			}
			@include mobile{
				width: 100%;
			}
			h3{
				font-size: 20px;
				font-weight: bold;
				margin-top: 30px;
				@include tablet{
					font-size: 14px;
					margin-top: 15px;
				}
			}
			a{
				position: absolute;
				@include fillposition;
			}
			&:hover svg{
				animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
				transform: translate3d(0, 0, 0);
				backface-visibility: hidden;
				perspective: 1000px;
			}
			@keyframes shake {
				10%, 90% {
					transform: translate3d(-1px, 0, 0);
				}

				20%, 80% {
					transform: translate3d(2px, 0, 0);
				}

				30%, 50%, 70% {
					transform: translate3d(-4px, 0, 0);
				}

				40%, 60% {
					transform: translate3d(4px, 0, 0);
				}
			}
		}
		&--child{
			&:not(:last-of-type){
				margin-right: 20px;
			}
			@include tablet{
				margin-right: 0 !important;
				margin-bottom: 20px;
			}
		}
	}
}
.technical{
	height: 205px;
	position: relative;
	z-index: 0;
	&__content{
		position: absolute;
		width: 100%;
		bottom: 0;
		height: 365px;
		@include tablet{
			max-height: 215px;
		}
		@include mobileSmallWidth{
			max-height: 260px;
		}
		@include ipadScreen{
			max-height: 190px;
		}
		h2{
			font-family: 'Crimson Text', sans-serif;
			font-size: 64px;
			color: #013e8d;
			text-align: center;
			padding: 65px 0 40px 0;
			letter-spacing: 3px;
			display: flex;
			flex-direction: column;
			span{
				color: #666;
				font-size: 20px;
				margin-top: 30px;
			}
			@include tablet{
				font-size: 30px;
				padding: 25px 0 20px 0;
				span{
					font-size: 14px;
					margin-top: 7px;
				}
			}
		}
		p{
			font-size: 20px;
			font-weight: bold;
			color: #333;
			text-align: center;
			@include tablet{
				font-size: 14px;
			}
			@include mobile{
				text-align: justify;
			}
		}
		.container{
			background-color: #fff;
			padding-bottom: 64px;
			@include tablet{
				padding: 0 20px;
			}
		}
	}
}

.project-file{
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include mobile{
		flex-flow: column wrap;
	}
	&__project{
		width: 100%;
		max-height: 520px;
		height: 100%;
		position: relative;
		z-index: 0;
		overflow: hidden;
		@include mobile{
			&:not(:last-of-type){
				margin-bottom: 20px;
			}
		}
		>a{
			position: absolute;
			@include fillposition;
			cursor: pointer;
			z-index: 1;
		}
		&:hover &--content::after{
			transform: scale(1);
		}
		&--img{
			width: 100%;
			max-height: 520px;
			overflow: hidden;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			@include mobile{
				max-height: 260px;
			}
		}
		&--content{
			width: 115px;
			height: 175px;
			position: absolute;
			top: 50%;
			left: 50%;
			color: #fff;
			transform-origin: center center;
			transform: translate(-50%, -50%);
			text-align: center;
			&::after{
				content: '';
				position: absolute;
				@include fillposition;
				background-color: #20569d;
				opacity: 0.85;
				transform-origin: center center;
				transition: all 0.3s ease;
				transform: scale(6,4);
				z-index: -1;
			}
			p{
				font-family: 'Crimson Text';
				font-size: 18px;
			}
			p:nth-of-type(2){
				font-size: 64px;
				position: relative;
				&::after{
					content: '';
					position: absolute;
					background-color: #fff;
					width: 15px;
					height: 2px;
					bottom: 10px;
					left: 50%;
					transform-origin: center center;
					transform: translateX(-50%);
				}
			}
			h3{
				font-size: 24px;
				margin-top: 15px;
			}
		}
	}
}
.aimingfor{
	&__content{
		width: 100%;
		max-height: 300px;
		height: 100%;
		background-image: url('../images/img_bg-section-aimingfor.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		margin: 100px 0;
		position: relative;
		@include mobile{
			margin: 30px 0 50px 0;
		}
		>a{
			position: absolute;
			@include fillposition;
			cursor: pointer;
		}
		&:hover{
			opacity: 0.8;
			button::before{
				width: 20px;
				height: 2px;
			}
			button::after{
				width: 100%;
			}
		}
		h2{
			font-family: 'A1MinchoStd-Bold',sans-serif;
			font-size: 45px;
			text-align: center;
			padding-top: 90px;
			margin-bottom: 30px;
			color: #fff;
			@include mobile{
				font-size: 30px;
				padding-top: 50px;
			}
		}
		p{
			color: #fff;
			margin-top: 25px;
			font-family: 'Crimson Text', sans-serif;
			font-size: 20px;
			text-align: center;
		}
		&--line{
			position: relative;
			width: 100%;
			height: 5px;
			&::before{
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				background: linear-gradient(90deg, transparent 0%, rgba(255,255,255,1) 100%);
				clip-path: polygon(0 0%, 100% 25%, 100% 50%, 0 50%);
			}
			&::after{
				content: '';
				position: absolute;
				width: 5px;
				height: 5px;
				background-color: #fff;
				left: 50%;
				top: -1px;
			}
		}
		&--btnMore{
			text-align: right;
			padding-right: 35px;
			padding-bottom: 35px;
			@include mobile{
				padding-top: 10px;
			}
			button{
				background: none;
				border: none;
				position: relative;
				padding-top: 25px;
				color: #fff;
				font-size: 16px;
				outline: none;
				&::after{
					content: '';
					position: absolute;
					background-color: #fff;
					width: 20px;
					height: 2px;
					left: 0;
					top: 0;
					transition: all 0.7s ease;
				}
				&::before{
					content: '';
					position: absolute;
					background-color: #fff;
					width: 0;
					height: 0;
					right: 0;
					top: 0;
					transition: all 0.5s ease;
					transition-delay: 0.2s;
					transform-origin: right center;
					transform: rotate(-45deg);
				}
			}
		}
	}
}