@import 'function_responsive';
@font-face {
	font-family: 'A1MinchoStd-Bold';
	src: url("../assets/fonts/A1MinchoStd-Bold.otf");
}
@font-face {
	font-family: 'RobotoCondensed-Bold';
	src: url("../assets/fonts/RobotoCondensed-Bold.ttf");
}

body{
	font-family: "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku 　Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif;
}

.header-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 60px;
	position: fixed;
	width: 100%;
	z-index: 1;

	&__logo{
		color: #fff;
		width: max-content;
		position: relative;
		h1{
			font-family: 'Montserrat', sans-serif;
			font-size: 36px;
			font-weight: bold;
		}
		a{
			position: absolute;
			@include fillposition;
			cursor: pointer;
		}
	}
	&__menubox{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__entry{
		background-color: #013e8d;
		padding: 15px 34px;
		color: #fff;
		font-family: 'RobotoCondensed-Bold', sans-serif;
		font-size: 16px;
		font-weight: bold;
		transform-origin: center center;
		cursor: pointer;
		a, a:hover{
			color: #fff;
			text-decoration: none;
		}
		&:hover{
			transform: scale(0.96);
		}
	}
	&__btn-menu{
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		margin-left: 30px;
		position: relative;
		width: 45px;
		height: 45px;
	}
	&__line{
		display: block;
		width: 100%;
		height: 4px;
		background-color: #013e8d;
		position: absolute;
		transform-origin: center center;
	}
	#top{
		transform: translateY(-20px);
		transition: all 1s ease;
	}
	#middle{
		transition: all 1s ease;
	}
	#bottom{
		transform: translateY(20px);
		transition: all 1s ease;
	}
}

.banner-top{
	background-image: url('../images/img_banner-top.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 0;
	min-height: 1118px;

	&::after{
		content: '';
		position: absolute;
		@include fillposition;
		background-color: #171719;
		opacity: 0.3;
		z-index: -1;
	}
	&__content{
		position: absolute;
		max-width: 1120px;
		width: 100%;
		margin: auto;
		top: 50%;
		left: 50%;
		transform-origin: center center;
		transform: translateX(-50%);
		color: #fff;
		h2{
			font-family: 'A1MinchoStd-Bold', sans-serif;
			font-size: 80px;
			font-weight: bold;
			text-align: center;
		}
	}
}

.technical{
	height: 205px;
	position: relative;
	z-index: 0;
	&__content{
		position: absolute;
		width: 100%;
		bottom: 0;
		height: 365px;
		h2{
			font-family: 'Crimson Text', sans-serif;
			font-size: 64px;
			color: #013e8d;
			text-align: center;
			padding: 65px 0 40px 0;
			span{
				color: #666;
				font-size: 20px;
			}
		}
		p{
			font-size: 20px;
			font-weight: bold;
			color: #333;
			text-align: center;
		}
		.container{
			background-color: #fff;
			padding-bottom: 64px;
		}
	}
}

.project-file{
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__project{
		width: 100%;
		position: relative;
		z-index: 0;
		>a{
			position: absolute;
			@include fillposition;
			cursor: pointer;
		}
		&:hover &--img::after{
			transform: scale(0);
		}
		&--img{
			width: 100%;
			position: absolute;
			@include fillposition;
			z-index: -1;
			overflow: hidden;
			&::after{
				content: '';
				position: absolute;
				@include fillposition;
				background-color: #20569d;
				opacity: 0.85;
				transform-origin: center center;
				transition: all 1s ease;	
			}
		}
		&--content{
			width: 115px;
			height: 160px;
			margin: auto;
			z-index: 2;
			margin-top: 180px;
			margin-bottom: 180px;
			color: #fff;
			text-align: center;
			p{
				font-family: 'Crimson Text';
				font-size: 18px;
			}
			p:nth-of-type(2){
				font-size: 64px;
				position: relative;
				&::after{
					content: '';
					position: absolute;
					background-color: #fff;
					width: 15px;
					height: 2px;
					bottom: 10px;
					left: 50%;
					transform-origin: center center;
					transform: translateX(-50%);
				}
			}
			h3{
				font-size: 24px;
				margin-top: 15px;
			}
		}
	}
}
.aimingfor{
	&__content{
		width: 100%;
		height: 300px;
		background-image: url('../images/img_bg-section-aimingfor.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		margin: 100px 0;
		h2{
			font-family: 'A1MinchoStd-Bold',sans-serif;
			font-size: 45px;
			text-align: center;
			padding-top: 90px;
			margin-bottom: 30px;
			color: #fff;
		}
		p{
			color: #fff;
			margin-top: 25px;
			font-family: 'Crimson Text', sans-serif;
			font-size: 20px;
			text-align: center;
		}
		&--line{
			position: relative;
			width: 100%;
			height: 5px;
			&::before{
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				background: linear-gradient(90deg, transparent 0%, rgba(255,255,255,1) 100%);
				clip-path: polygon(0 0%, 100% 25%, 100% 52%, 0 52%);
			}
			&::after{
				content: '';
				position: absolute;
				width: 5px;
				height: 5px;
				background-color: #fff;
				left: 50%;
				top: -1px;
			}
		}
		&--btnMore{
			text-align: right;
			padding-right: 35px;
			button{
				background: none;
				border: none;
				position: relative;
				padding-top: 25px;
				color: #fff;
				font-size: 16px;
				&::after{
					content: '';
					position: absolute;
					background-color: #fff;
					width: 20px;
					height: 2px;
					left: 0;
					top: 0;
					transition: all 0.5s ease;
				}
				&:hover::after{
					width: 100%;
				}
				&:hover::before{
					content: '';
					position: absolute;
					background-color: #fff;
					width: 20px;
					height: 2px;
					right: 0;
					top: 0;
					transform-origin: right center;
					transform: rotate(-45deg);
				}
			}
		}
	}
}