@charset "UTF-8";
.projectStory__buttons .arrow__icon, .workStyle__buttons .arrow__icon, .interview__link .arrow__icon, .Newsfocus .arrow__icon {
  width: 30px;
  height: 10px;
  overflow: hidden;
  z-index: 0;
  position: relative;
}

.projectStory__buttons .arrow__icon::before, .workStyle__buttons .arrow__icon::before, .interview__link .arrow__icon::before, .Newsfocus .arrow__icon::before {
  content: '';
  position: absolute;
  bottom: 0px;
  right: 2px;
  width: 100%;
  background-color: #013e8d;
  height: 2px;
  z-index: -1;
}

.projectStory__buttons .arrow__icon::after, .workStyle__buttons .arrow__icon::after, .interview__link .arrow__icon::after, .Newsfocus .arrow__icon::after {
  content: '';
  position: absolute;
  right: 0px;
  width: 2px;
  bottom: 0px;
  height: 20px;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  background-color: #013e8d;
  z-index: -2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.projectStory {
  width: 100%;
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 230px;
}

@media screen and (max-width: 48em) {
  .projectStory {
    margin-bottom: 150px;
  }
}

.projectStory__figure {
  position: relative;
  left: 0px;
  width: calc(50% + 275px);
  max-height: 480px;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

@media screen and (max-width: 48em) {
  .projectStory__figure {
    width: 100%;
    max-width: 594px;
    height: auto;
  }
}

.projectStory__figure img {
  width: 100%;
}

@media screen and (max-width: 48em) {
  .projectStory__figure img {
    width: calc(100% - 20px);
  }
}

.projectStory > h2 {
  position: absolute;
  max-width: 1380px;
  padding: 0px 20px;
  width: 100%;
  text-align: right;
  font-size: 80px;
  color: #013e8d;
  z-index: 1;
  top: 28.5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: 'Crimson Text', sans-serif;
}

@media screen and (max-width: 48em) {
  .projectStory > h2 {
    font-size: 30px;
    top: -15%;
    padding: 0px 10px;
  }
}

.projectStory__buttons {
  position: absolute;
  max-width: 1380px;
  padding: 0px 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: calc(100% - 40px);
}

@media screen and (max-width: 48em) {
  .projectStory__buttons {
    padding: 0px 20px;
  }
}

.projectStory__buttons button {
  width: calc(50% + 10px);
  min-width: 490px;
  height: 80px;
  background-color: #002554;
  border: none;
  padding: 0px;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.projectStory__buttons button:hover {
  opacity: 0.8;
}

.projectStory__buttons button:hover a {
  -webkit-transform: translate3d(5px, 0px, 0px);
          transform: translate3d(5px, 0px, 0px);
}

@media screen and (max-width: 48em) {
  .projectStory__buttons button {
    width: 100%;
    max-height: 56px;
    max-width: 500px;
    min-width: 1px;
  }
}

.projectStory__buttons button:first-of-type {
  margin-bottom: 10px;
}

.projectStory__buttons button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 35px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 1;
}

@media screen and (max-width: 48em) {
  .projectStory__buttons button a {
    padding: 0px 10px;
    font-size: 14px;
    line-height: 1.4;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .projectStory__buttons button a > *:not(:last-of-type) {
    margin-right: 10px;
  }
}

.projectStory__buttons .arrow__icon::before {
  background-color: white !important;
}

.projectStory__buttons .arrow__icon::after {
  background-color: white !important;
}

.projectStory::after {
  bottom: -90px;
  max-width: 1120px;
  width: 100%;
  top: 39%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #e5e5e5;
  z-index: -1;
  content: '';
  position: absolute;
}

@media screen and (max-width: 48em) {
  .projectStory::after {
    bottom: -55px;
  }
}

.workStyle {
  position: relative;
  margin-bottom: 230px;
}

@media screen and (max-width: 48em) {
  .workStyle {
    margin-bottom: 80px;
  }
}

.workStyle__Img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 48em) {
  .workStyle__Img {
    width: 100%;
  }
}

.workStyle__figure {
  max-width: calc(50% + 210px);
  margin: 0px;
  max-height: 480px;
  overflow: hidden;
}

@media screen and (max-width: 48em) {
  .workStyle__figure {
    width: calc(100% - 20px);
  }
}

.workStyle__figure img {
  height: 100%;
}

.workStyle > h2 {
  position: absolute;
  max-width: 1380px;
  padding: 0px 20px;
  width: 100%;
  text-align: left;
  font-size: 80px;
  color: #013e8d;
  z-index: 1;
  top: 28.5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: 'Crimson Text', sans-serif;
}

@media screen and (max-width: 48em) {
  .workStyle > h2 {
    font-size: 30px;
    top: -15%;
  }
}

.workStyle__buttons {
  position: absolute;
  max-width: 1380px;
  padding: 0px 20px;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: calc(100% - 40px);
}

@media screen and (max-width: 48em) {
  .workStyle__buttons {
    padding: 0px 20px;
    top: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.workStyle__buttons button {
  width: calc(50% - 10px);
  height: 80px;
  background-color: #002554;
  border: none;
  padding: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.workStyle__buttons button:hover {
  opacity: 0.8;
}

.workStyle__buttons button:hover a {
  -webkit-transform: translate3d(5px, 0px, 0px);
          transform: translate3d(5px, 0px, 0px);
}

@media screen and (max-width: 48em) {
  .workStyle__buttons button {
    width: 100%;
    max-height: 56px;
    max-width: 500px;
  }
}

.workStyle__buttons button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 35px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 1;
}

@media screen and (max-width: 48em) {
  .workStyle__buttons button a {
    padding: 10px 10px;
    font-size: 14px;
    line-height: 1.4;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .workStyle__buttons button a > *:first-of-type {
    margin-right: 10px;
  }
}

.workStyle__buttons .arrow__icon::before {
  background-color: white !important;
}

.workStyle__buttons .arrow__icon::after {
  background-color: white !important;
}

.workStyle::after {
  bottom: -90px;
  max-width: 1120px;
  width: 100%;
  top: 39%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #e5e5e5;
  z-index: -1;
  content: '';
  position: absolute;
}

@media screen and (max-width: 48em) {
  .workStyle::after {
    bottom: 0px;
  }
}

.interview {
  position: relative;
  z-index: 0;
  width: 100%;
  padding: 0px 20px;
}

.interview::after {
  position: absolute;
  top: 100px;
  right: 0px;
  bottom: 60px;
  left: 0px;
  background-color: #d3d4d9;
  z-index: -1;
  content: '';
}

@media screen and (max-width: 48em) {
  .interview::after {
    top: 18px;
    bottom: 70px;
  }
}

.interview__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(50% - 10px) calc(50% - 10px);
      grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  max-width: 1120px;
  grid-gap: 20px;
  margin: auto;
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 48em) {
  .interview__wrap {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    max-width: 500px;
  }
}

.interview__wrap > * {
  width: 100%;
}

@media screen and (max-width: 48em) {
  .interview__content {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

.interview__content--sub {
  margin: 40px 0px;
  font-size: 24px;
  line-height: 1.4;
}

@media screen and (max-width: 48em) {
  .interview__content--sub {
    font-size: 14px;
    margin: 15px 0px;
  }
}

.interview__content--sub p:first-of-type {
  font-weight: bold;
}

.interview__content--sub p:last-of-type {
  font-size: 16px;
  line-height: 1;
  margin-top: 20px;
}

@media screen and (max-width: 48em) {
  .interview__content--sub p:last-of-type {
    margin-top: 10px;
    font-size: 14px;
  }
}

.interview__content h2 {
  color: #013e8d;
  font-size: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Crimson Text', sans-serif;
  word-break: break-all;
}

@media screen and (max-width: 48em) {
  .interview__content h2 {
    font-size: 30px;
  }
}

.interview__content h2 span {
  display: block;
  font-size: 20px;
  color: #666666;
  margin-top: 40px;
}

@media screen and (max-width: 48em) {
  .interview__content h2 span {
    font-size: 14px;
    margin-top: 10px;
  }
}

.interview__content--more {
  font-size: 16px;
  text-transform: uppercase;
  color: #013e8d;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 0;
}

@media screen and (max-width: 48em) {
  .interview__content--more {
    font-size: 14px;
  }
}

.interview__content--more::after {
  content: '';
  position: absolute;
  left: 0px;
  height: 2px;
  width: 50%;
  bottom: -5px;
  background-color: #013e8d;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.interview__content--more::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -2px;
  right: -2px;
  height: 0px;
  background-color: #013e8d;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  z-index: -1;
}

.interview__content--more:hover {
  text-decoration: none;
  color: white;
}

.interview__content--more:hover::after {
  width: 100%;
}

.interview__content--more:hover::before {
  height: 100%;
}

.interview__figure {
  margin: 0px;
  position: relative;
  max-width: 550px;
}

.interview__figure img {
  height: 100%;
}

.interview__img {
  position: relative;
  z-index: 0;
}

.interview__img--vendor {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.interview__img--count {
  position: absolute;
  top: calc(100% + 5px);
  font-size: 16px;
  font-weight: bold;
  right: 0px;
}

@media screen and (max-width: 48em) {
  .interview__img--count {
    top: initial;
    bottom: 0px;
    padding: 5px;
  }
}

.interview__img--position {
  color: #013e8d;
}

.interview__button {
  position: absolute;
  left: 0px;
  bottom: 0px;
  max-width: 600px;
  width: 46.6vw;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 48em) {
  .interview__button {
    left: initial;
    right: 0px;
    bottom: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
  }
}

.interview__button > div {
  background-color: #013e8d;
  height: 50px;
  width: 50px;
  padding: 10px;
  cursor: pointer;
}

@media screen and (max-width: 48em) {
  .interview__button > div {
    padding: 3px;
  }
}

.interview__button > div span {
  position: relative;
  display: block;
  position: relative;
  height: 50%;
  width: 100%;
  overflow: hidden;
}

.interview__button > div span::before {
  content: '';
  position: absolute;
  top: 0px;
  height: 100%;
  width: 2px;
  background-color: white;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.interview__button > div.next {
  margin-bottom: 1px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.interview__button > div.next span::before {
  right: 30%;
}

.interview__button > div.next span:first-of-type::before {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.interview__button > div.next span:last-of-type::before {
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.interview__button > div.next:hover {
  -webkit-transform: translate3d(-5px, 0, 0);
          transform: translate3d(-5px, 0, 0);
}

.interview__button > div.next:hover span:first-of-type::before {
  -webkit-transform: rotate(-55deg);
          transform: rotate(-55deg);
}

.interview__button > div.next:hover span:last-of-type::before {
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
}

.interview__button > div.previous {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.interview__button > div.previous span::before {
  left: 30%;
}

.interview__button > div.previous span:first-of-type::before {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.interview__button > div.previous span:last-of-type::before {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.interview__button > div.previous:hover {
  -webkit-transform: translate3d(-5px, 0, 0);
          transform: translate3d(-5px, 0, 0);
}

.interview__button > div.previous:hover span:first-of-type::before {
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
}

.interview__button > div.previous:hover span:last-of-type::before {
  -webkit-transform: rotate(-55deg);
          transform: rotate(-55deg);
}

@media screen and (max-width: 48em) {
  .interview__button > div {
    width: 25px;
    height: 25px;
  }
  .interview__button > div.next {
    margin-bottom: 0px;
    margin-left: 1px;
  }
}

.interview__link {
  max-width: 1120px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 48em) {
  .interview__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0px 40px;
    max-width: 500px;
  }
}

.interview__link > * {
  width: 100%;
  margin-top: 95px;
  height: 120px;
  position: relative;
  background-color: white;
  border: none;
  padding: 0px;
  z-index: 0;
}

.interview__link > *::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: white;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.5) 0px 0px 20px);
          filter: drop-shadow(rgba(0, 0, 0, 0.5) 0px 0px 20px);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  z-index: -1;
}

@media screen and (max-width: 48em) {
  .interview__link > * {
    height: auto;
    margin-top: 0px;
  }
}

.interview__link > *:hover::after {
  opacity: 1;
}

.interview__link > *:hover a {
  -webkit-transform: translate3d(5px, 0px, 0px);
          transform: translate3d(5px, 0px, 0px);
}

.interview__link > *:first-of-type {
  margin-right: 20px;
}

@media screen and (max-width: 48em) {
  .interview__link > *:first-of-type {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

.interview__link > * a {
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 40px;
  text-decoration: none;
  color: #013e8d;
  font-size: 24px;
  font-weight: bold;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

@media screen and (max-width: 48em) {
  .interview__link > * a {
    padding: 20px 10px;
    font-size: 14px;
  }
}

.interview__link .EffectArrow:hover .arrow__icon::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.Newsfocus {
  margin: 100px 0px 90px;
  padding: 100px 20px;
  position: relative;
  background-image: url("../assets/picture/レイヤー bg.png");
  z-index: 0;
}

@media screen and (max-width: 48em) {
  .Newsfocus {
    margin: 0px;
    padding: 40px 20px;
  }
}

.Newsfocus::after {
  position: absolute;
  content: '';
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: rgba(1, 62, 141, 0.8);
  z-index: -1;
}

.Newsfocus__wrap {
  max-width: 1120px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

@media screen and (max-width: 48em) {
  .Newsfocus__wrap {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    max-width: 500px;
  }
}

.Newsfocus__wrap figure {
  width: 100%;
  margin: 0px;
  position: relative;
}

.Newsfocus__wrap figure a {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.Newsfocus__wrap figure div {
  position: relative;
}

.Newsfocus__wrap figure div span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.Newsfocus__wrap figure div span svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 48em) {
  .Newsfocus__wrap figure div span {
    max-width: 80px;
    max-height: 80px;
    height: 14vw;
    width: 14vw;
  }
  .Newsfocus__wrap figure div span svg {
    height: 100%;
    width: 100%;
  }
}

.Newsfocus__wrap figure:hover button::after {
  -webkit-transform: translate3d(0%, 0px, 0px);
          transform: translate3d(0%, 0px, 0px);
}

.Newsfocus__wrap figure:hover button p {
  color: white;
  -webkit-transform: translate3d(5px, 0px, 0px);
          transform: translate3d(5px, 0px, 0px);
}

.Newsfocus__wrap figure:hover button .arrow__icon::after, .Newsfocus__wrap figure:hover button .arrow__icon::before {
  background-color: white;
}

.Newsfocus__wrap figure:hover #svgPlay svg path {
  fill: #013e8d;
}

.Newsfocus__wrap img {
  width: 100%;
}

.Newsfocus__wrap button {
  height: 80px;
  width: 100%;
  position: relative;
  background-color: white;
  border: none;
  padding: 0px;
  overflow: hidden;
  z-index: 0;
}

.Newsfocus__wrap button::after {
  position: absolute;
  content: '';
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #013e8d;
  -webkit-transform: translate3d(-100%, 0px, 0px);
          transform: translate3d(-100%, 0px, 0px);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: -1;
}

@media screen and (max-width: 48em) {
  .Newsfocus__wrap button {
    height: auto;
    padding: 0px;
  }
}

.Newsfocus__wrap button p {
  position: absolute;
  margin: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 48em) {
  .Newsfocus__wrap button p {
    position: relative;
    padding: 20px 10px;
    font-size: 14px;
  }
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 20px;
}

@media screen and (max-width: 48em) {
  .blog {
    padding: 20px 20px;
  }
}

.blog h2 {
  font-size: 64px;
  color: #013e8d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: 'Crimson Text', sans-serif;
  letter-spacing: 3px;
}

@media screen and (max-width: 48em) {
  .blog h2 {
    font-size: 30px;
  }
}

.blog h2 span {
  font-size: 20px;
  color: #666666;
  margin-top: 25px;
  font-weight: normal;
}

@media screen and (max-width: 48em) {
  .blog h2 span {
    font-size: 14px;
    margin-top: 5px;
    line-height: 1;
  }
}

.blog__news {
  padding: 45px 0px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1120px;
  margin: auto;
}

@media screen and (max-width: 48em) {
  .blog__news {
    padding: 30px 0px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blog__news figure {
  margin-bottom: 0px;
  width: 100%;
  position: relative;
}

.blog__news figure a {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.blog__news figure img {
  width: 100%;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.blog__news figure > div {
  font-size: 14px;
  font-weight: bold;
  color: #013e8d;
  margin: 15px 0px 12px;
}

.blog__news figure > div span {
  color: #666666;
  margin-left: 5px;
}

.blog__news figure > h3 {
  font-size: 16px;
  line-height: 1.4;
}

@media screen and (max-width: 48em) {
  .blog__news figure > h3 {
    font-size: 14px;
  }
}

.blog__news figure:not(:last-of-type) {
  margin-right: 20px;
}

@media screen and (max-width: 48em) {
  .blog__news figure:not(:last-of-type) {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

.blog__news figure:hover img {
  opacity: 0.8;
}

.blog__more {
  font-size: 16px;
  width: 180px;
  display: block;
  height: 50px;
  color: #666666;
  border: 1px solid #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-bottom: 40px;
  position: relative;
  z-index: 0;
}

.blog__more::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.5) 0px 0px 15px);
          filter: drop-shadow(rgba(0, 0, 0, 0.5) 0px 0px 15px);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.blog__more:hover {
  text-decoration: none;
  color: #666666;
}

.blog__more:hover::after {
  opacity: 1;
}

@media screen and (max-width: 48em) {
  .blog__more {
    margin-bottom: 20px;
    height: auto;
    font-size: 14px;
    padding: 15px 0px;
  }
}

.recruit {
  position: relative;
  z-index: 0;
  padding: 0px 20px 90px;
}

@media screen and (max-width: 48em) {
  .recruit {
    padding: 0px 20px 50px;
  }
}

.recruit > h2 {
  font-size: 64px;
  color: #013e8d;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0px;
  font-family: 'Crimson Text', sans-serif;
  letter-spacing: 3px;
}

@media screen and (max-width: 48em) {
  .recruit > h2 {
    margin: 0px 0px 20px;
    font-size: 30px;
  }
}

.recruit > h2 span {
  display: block;
  padding: 20px 0px;
  font-size: 20px;
  color: #666666;
}

@media screen and (max-width: 48em) {
  .recruit > h2 span {
    font-size: 14px;
    padding: 0px;
    margin-top: 5px;
  }
}

.recruit__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1120px;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 48em) {
  .recruit__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.recruit__list > * {
  width: 100%;
  height: 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 5px solid #013e8d;
  background-color: white;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 48em) {
  .recruit__list > * {
    width: 62.5vw;
    height: 62.5vw;
    max-width: 265px;
    max-height: 265px;
  }
}

.recruit__list > *:not(:last-of-type) {
  margin-right: 20px;
}

@media screen and (max-width: 48em) {
  .recruit__list > *:not(:last-of-type) {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

.recruit__list > * h3 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: 2px;
}

@media screen and (max-width: 48em) {
  .recruit__list > * h3 {
    font-size: 16px;
    margin-top: 20px;
  }
}

.recruit__list > * a {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}

.recruit__list > *::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #013e8d;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.6) 0px 0px 20px);
          filter: drop-shadow(rgba(0, 0, 0, 0.6) 0px 0px 20px);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: -1;
}

.recruit__list > * svg path {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.recruit__list > *:hover::after {
  opacity: 1;
}

.recruit__list > *:hover h3 {
  color: white;
}

.recruit__list > *:hover svg path {
  fill: white;
}

.recruit__entry {
  width: 360px;
  height: 80px;
  background-color: #002554;
  margin: 90px auto 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 48em) {
  .recruit__entry {
    height: auto;
    max-width: 265px;
    width: 62.5vw;
    margin: 50px auto 0px;
  }
}

.recruit__entry a {
  display: block;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 48em) {
  .recruit__entry a {
    font-size: 16px;
    padding: 20px 0px;
  }
}

.recruit__entry:hover {
  background-color: white;
}

.recruit__entry:hover a {
  color: #002554;
  -webkit-transform: translate3d(5px, 0, 0);
          transform: translate3d(5px, 0, 0);
}

.recruit::before {
  content: '';
  position: absolute;
  top: 47%;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-image: url("../assets/picture/レイヤー bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -2;
}

@media screen and (max-width: 48em) {
  .recruit::before {
    top: 15%;
  }
}

.recruit::after {
  content: '';
  position: absolute;
  top: 47%;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(1, 62, 141, 0.8);
  z-index: -1;
}

@media screen and (max-width: 48em) {
  .recruit::after {
    top: 15%;
  }
}

.projectStory__buttons .arrow__icon, .workStyle__buttons .arrow__icon, .interview__link .arrow__icon, .Newsfocus .arrow__icon {
  width: 30px;
  height: 10px;
  overflow: hidden;
  z-index: 0;
  position: relative;
}

.projectStory__buttons .arrow__icon::before, .workStyle__buttons .arrow__icon::before, .interview__link .arrow__icon::before, .Newsfocus .arrow__icon::before {
  content: '';
  position: absolute;
  bottom: 0px;
  right: 2px;
  width: 100%;
  background-color: #013e8d;
  height: 2px;
  z-index: -1;
}

.projectStory__buttons .arrow__icon::after, .workStyle__buttons .arrow__icon::after, .interview__link .arrow__icon::after, .Newsfocus .arrow__icon::after {
  content: '';
  position: absolute;
  right: 0px;
  width: 2px;
  bottom: 0px;
  height: 20px;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  background-color: #013e8d;
  z-index: -2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer {
  padding: 0px 25px;
  line-height: 1;
  background-color: #002554;
}

@media screen and (max-width: 48em) {
  .footer {
    padding: 20px 20px 0px;
  }
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0px;
  font-size: 14px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 48em) {
  .footer__wrap {
    padding: 0px;
  }
  .footer__wrap > * {
    padding-bottom: 20px;
  }
}

.footer__wrap--content a {
  text-decoration: none;
  color: white;
}

.footer__wrap--content a:last-of-type {
  margin-left: 15px;
  letter-spacing: 3px;
}

.footer__wrap--content a svg {
  margin-left: 5px;
}

.footer__wrap--copyright {
  letter-spacing: 1px;
  line-height: 1.4;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::after {
  display: none;
  content: 'medium';
}

@media screen and (max-width: 64em) {
  body::after {
    content: 'small';
  }
}
