@import ../Abstract/__variables
@import ../Abstract/__extend
@import ../Abstract/__mixin
    
.projectStory
    width: 100%
    position: relative
    height: max-content
    margin-bottom: 230px
    +mobile()
        margin-bottom: 150px
    &__figure
        position: relative
        left: 0px
        width: calc(50% + 275px)
        max-height: 480px
        height: 100%
        margin: 0px
        overflow: hidden
        +mobile()
            width: 100%
        img 
            width: 100%
            +mobile()
                width: calc(100% - 20px)
    & > h2 
        position: absolute
        max-width: 1380px
        padding: 0px 20px
        width: 100%
        text-align: right
        font-size: 80px
        color: $colorKinBlue
        z-index: 1
        top: 28.5%
        left: 50%
        transform: translateX(-50%)
        font-family: 'Crimson Text', sans-serif
        +mobile()
            font-size: 40px
            top: -15%
            padding: 0px 10px
    &__buttons
        position: absolute
        max-width: 1380px
        padding: 0px 20px
        width: 100%
        display: flex
        flex-flow: column nowrap
        align-items: flex-end
        left: 50%
        transform: translateX(-50%)
        top: calc(100% - 40px)
        +mobile()
            padding: 0px 0px 0px 20px
        button 
            width: calc(50% + 10px)
            height: 80px
            background-color: $colorKinBlue
            border: none
            padding: 0px
            transition: all 0.3s ease
            &:hover
                opacity: 0.8
                a 
                    transform: translate3d(5px, 0px, 0px)
            +mobile()
                width: 100%
                height: auto
            &:first-of-type 
                margin-bottom: 10px
            a 
                display: flex
                color: white
                text-decoration: none
                font-size: 16px
                justify-content: space-between
                padding: 0px 35px
                transition: all 0.3s ease
                +mobile()
                    padding: 20px 10px
                    font-size: 14px
        .arrow__icon
            @extend %__arrow
            &::before
                background-color: white !important
            &::after 
                background-color: white !important
    &::after
        bottom: -90px
        max-width: 1120px
        width: 100%
        top: 39%
        left: 50%
        transform: translateX(-50%)
        background-color: #e5e5e5
        z-index: -1
        content: ''
        position: absolute

.workStyle
    position: relative
    margin-bottom: 230px
    +mobile()
        margin-bottom: 100px
    &__Img
        display: flex
        justify-content: flex-end
        +mobile()
            width: 100%
    &__figure
        max-width: calc(50% + 210px)
        margin: 0px
        max-height: 480px
        overflow: hidden
        +mobile()
            width: calc(100% - 20px)
        img 
            height: 100%
    & > h2 
        position: absolute
        max-width: 1380px
        padding: 0px 20px
        width: 100%
        text-align: left
        font-size: 80px
        color: $colorKinBlue
        z-index: 1
        top: 28.5%
        left: 50%
        transform: translateX(-50%)
        font-family: 'Crimson Text', sans-serif
        +mobile()
            font-size: 40px
            top: -15%
    &__buttons
        position: absolute
        max-width: 1380px
        padding: 0px 20px
        width: 100%
        left: 50%
        transform: translateX(-50%)
        top: calc(100% - 40px)
        +mobile()
            padding: 0px 20px 0px 0px
            top: 100%
            transform: translate(-50%, -50%)
        button 
            width: calc(50% - 10px)
            height: 80px
            background-color: $colorKinBlue
            border: none
            padding: 0px
            transition: all 0.3s ease
            &:hover
                opacity: 0.8
                a 
                    transform: translate3d(5px, 0px, 0px)
            +mobile()
                width: 100%
                height: auto
            a 
                display: flex
                color: white
                text-decoration: none
                font-size: 16px
                justify-content: space-between
                padding: 0px 35px
                transition: all 0.3s ease
                +mobile()
                    padding: 20px 10px
                    font-size: 14px
        .arrow__icon
            @extend %__arrow
            &::before
                background-color: white !important
            &::after 
                background-color: white !important
    &::after
        bottom: -90px
        max-width: 1120px
        width: 100%
        top: 39%
        left: 50%
        transform: translateX(-50%)
        background-color: #e5e5e5
        z-index: -1
        content: ''
        position: absolute
        +mobile()
            bottom: 0px
.interview
    position: relative
    z-index: 0
    width: 100%
    padding: 0px 20px
    &::after
        position: absolute
        top: 100px
        right: 0px
        bottom: 60px
        left: 0px
        background-color: #d3d4d9
        z-index: -1
        content: ''
        +mobile()
            top: 25px
            bottom: 70px
    &__wrap
        display: flex
        max-width: 1120px
        margin: auto
        position: relative
        align-items: flex-end
        +mobile()
            flex-direction: column
        & > *
            width: 100%
    &__content
        margin-right: 20px
        +mobile()
            margin-right: 0px
            margin-bottom: 20px
        &--sub
            margin: 40px 0px
            font-size: 24px
            line-height: 1.4
            +mobile()
                font-size: 18px
                margin: 20px 0px
            p:first-of-type
                font-weight: bold
            p:last-of-type 
                font-size: 16px
                line-height: 1
                margin-top: 20px
                +mobile()
                    margin-top: 10px
        h2 
            color: $colorKinBlue
            font-size: 80px
            display: flex
            flex-direction: column
            font-family: 'Crimson Text', sans-serif
            +mobile()
                font-size: 40px
            span 
                display: block
                font-size: 20px
                color: $colorKinGray
                margin-top: 40px
                +mobile()
                    font-size: 14px
                    margin-top: 10px
        &--more
            font-size: 16px
            text-transform: uppercase
            color: $colorKinBlue
            position: relative
            width: max-content
            transition: all 0.3s ease
            z-index: 0
            +mobile()
                font-size: 14px
            &::after
                content: ''
                position: absolute
                left: 0px
                height: 2px
                width: 50%
                bottom: -5px
                background-color: $colorKinBlue
                transition: width 0.3s ease
            &::before 
                content: ''
                position: absolute
                top: 0px 
                left: -2px
                right: -2px
                height: 0px
                background-color: $colorKinBlue
                transition: height 0.3s ease
                z-index: -1
            &:hover
                text-decoration: none
                color: white
                &::after
                    width: 100%
                &::before
                    height: 100%
    &__figure 
        margin: 0px
        position: relative
        img 
            width: 100%
    &__img
        position: relative
        z-index: 0
        &--vendor
            position: absolute
            z-index: 1
            top: 0px
            left: 0px
            height: 100%
            width: 100%
        &--count
            position: absolute
            top: calc(100% + 5px)
            font-size: 16px
            font-weight: bold
            right: 0px
            +mobile()
                top: initial
                bottom: 0px
                padding: 5px
        &--position
            color: $colorKinBlue
    &__button
        position: absolute
        left: 0px
        bottom: 0px
        max-width: 600px
        width: 46.6vw
        min-width: 100%
        display: flex
        flex-flow: column nowrap
        align-items: flex-end
        +mobile()
            left: initial
            right: 0px
            bottom: 100%
            display: flex
            flex-flow: row nowrap
        & > div 
            background-color: $colorKinBlue
            height: 50px
            width: 50px
            padding: 10px
            cursor: pointer
            span 
                position: relative
                display: block
                position: relative
                height: 50%
                width: 100%
                overflow: hidden
                &::before
                    content: ''
                    position: absolute
                    top: 0px 
                    height: 100%
                    width: 2px
                    background-color: white
                    transition: transform 0.3s ease
            &.next
                margin-bottom: 1px
                transition: transform 0.3s ease
                span 
                    &::before
                        right: 30%
                    &:first-of-type 
                        &::before
                            transform-origin: bottom right
                            transform: rotate(-45deg)
                    &:last-of-type 
                        &::before
                            transform-origin: top right
                            transform: rotate(45deg)
                &:hover
                    transform: translate3d(-5px, 0, 0)
                    span 
                        &:first-of-type 
                            &::before
                                transform: rotate(-55deg)
                        &:last-of-type 
                            &::before
                                transform: rotate(55deg)
            &.previous 
                transition: transform 0.3s ease
                span 
                    &::before
                        left: 30%
                    &:first-of-type 
                        &::before
                            transform-origin: bottom left
                            transform: rotate(45deg)
                    &:last-of-type 
                        &::before
                            transform-origin: top left
                            transform: rotate(-45deg)
                &:hover
                    transform: translate3d(-5px, 0, 0)
                    span 
                        &:first-of-type 
                            &::before
                                transform: rotate(55deg)
                        &:last-of-type 
                            &::before
                                transform: rotate(-55deg)
            +mobile()
                width: 25px
                height: 25px
                &.next
                    margin-bottom: 0px
                    margin-right: 1px
    &__link
        max-width: 1120px
        width: 100%
        margin: auto
        display: flex
        +mobile()
            flex-direction: column
            padding: 20px 0px 40px
        & > * 
            width: 100%
            margin-top: 95px
            height: 120px
            position: relative
            background-color: white
            border: none
            padding: 0px
            z-index: 0
            &::after
                content: ''
                position: absolute
                top: 0px
                left: 0px
                bottom: 0px
                right: 0px
                background-color: white
                filter: drop-shadow(rgba(black, 0.5) 0px 0px 20px)
                opacity: 0
                transition: opacity 0.3s ease
                z-index: -1
            +mobile()
                height: auto
                margin-top: 0px
            &:hover
                &::after
                    opacity: 1
                a 
                    transform: translate3d(5px , 0px , 0px)
            &:first-of-type 
                margin-right: 20px
                +mobile()
                    margin-right: 0px
                    margin-bottom: 10px
            a 
                position: relative
                top: 0px
                right: 0px
                bottom: 0px
                left: 0px
                display: flex
                align-items: center
                padding: 0px 40px
                text-decoration: none
                color: $colorKinBlue
                font-size: 24px
                font-weight: bold
                justify-content: space-between
                transition: transform 0.3s ease
                +mobile()
                    padding: 20px 10px
                    font-size: 18px
        .arrow__icon
            @extend %__arrow
        +hoverArrow()
.Newsfocus
    margin: 100px 0px 90px
    padding: 100px 20px
    position: relative
    background-image: url('../assets/picture/レイヤー bg.png')
    z-index: 0
    +mobile()
        margin: 0px
        padding: 40px 20px
    &::after
        position: absolute
        content: ''
        top: 0px
        right: 0px
        left: 0px
        bottom: 0px
        background-color: rgba(#013e8d, 0.8)
        z-index: -1
    &__wrap
        max-width: 1120px
        margin: auto
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 20px
        +mobile()
            grid-template-columns: repeat(1, 1fr)
        figure 
            width: 100%
            margin: 0px
        img 
            width: 100%
        button  
            height: 80px
            width: 100%
            position: relative
            background-color: white
            border: none
            padding: 0px
            overflow: hidden
            z-index: 0
            &::after
                position: absolute
                content: ''
                top: 0px
                right: 0px
                bottom: 0px
                left: 0px
                background-color: $colorKinBlue
                transform: translate3d(-100%, 0px, 0px)
                transition: transform 0.3s ease
                z-index: -1
            &:hover
                &::after
                    transform: translate3d(0%, 0px, 0px)
                a 
                    color: white
                    transform: translate3d(5px, 0px ,0px)
                .arrow__icon
                    &::after, &::before
                        background-color: white
            +mobile()
                height: auto
                padding: 0px
            a 
                position: absolute
                top: 0px
                right: 0px
                bottom: 0px
                left: 0px
                padding: 0px 25px
                display: flex
                align-items: center
                text-decoration: none
                color: black
                font-size: 20px
                font-weight: bold
                justify-content: space-between
                transition: all 0.3s ease
                +mobile()
                    position: relative
                    padding: 20px 10px
                    font-size: 16px
    .arrow__icon
        @extend %__arrow
.blog 
    display: flex
    align-items: center
    flex-direction: column
    padding: 0px 20px
    +mobile()
        padding: 20px 20px
    h2 
        font-size: 64px
        color: $colorKinBlue
        display: flex
        flex-direction: column
        text-align: center
        font-family: 'Crimson Text', sans-serif
        +mobile()
            font-size: 32px
        span 
            font-size: 20px
            color: $colorKinGray
            margin-top: 25px
            font-weight: normal
            +mobile()
                font-size: 16px
                margin-top: 5px
                line-height: 1
    &__news
        padding: 45px 0px 55px
        display: flex
        max-width: 1120px
        margin: auto
        +mobile()
            padding: 30px 0px 20px
            flex-direction: column
        figure
            margin-bottom: 0px
            width: 100%
            position: relative
            a 
                position: absolute
                top: 0px
                left: 0px
                bottom: 0px
                right: 0px
            img 
                width: 100%
                transition: opacity 0.3s ease
            & > div 
                font-size: 14px
                font-weight: bold
                color: $colorKinBlue
                margin: 15px 0px 12px
                span 
                    color: $colorKinGray
                    margin-left: 5px
            & > h3 
                font-size: 16px
                line-height: 1.4
            &:not(:last-of-type)
                margin-right: 20px
                +mobile()
                    margin-right: 0px
                    margin-bottom: 20px
            &:hover
                img 
                    opacity: 0.8
    &__more
        font-size: 16px
        width: 180px
        display: block
        height: 50px
        color: $colorKinGray
        border: 1px solid $colorKinGray
        display: flex
        justify-content: center
        align-items: center
        text-decoration: none
        margin-bottom: 40px
        position: relative
        z-index: 0
        &::after
            content: ''
            position: absolute
            top: 0px
            right: 0px
            left: 0px
            bottom: 0px
            background-color: white
            filter: drop-shadow(rgba(black, 0.5) 0px 0px 15px)
            z-index: -1
            opacity: 0
            transition: opacity 0.3s ease
        &:hover
            text-decoration: none
            color: $colorKinGray
            &::after
                opacity: 1
        +mobile()
            margin-bottom: 20px
.recruit
    position: relative
    z-index: 0
    padding: 0px 20px 90px
    & > h2 
        font-size: 64px
        color: $colorKinBlue
        text-align: center
        display: flex
        flex-direction: column
        margin: 30px 0px
        font-family: 'Crimson Text', sans-serif
        +mobile()
            margin: 0px 0px 20px
            font-size: 32px
        span 
            display: block
            padding: 20px 0px
            font-size: 20px
            color: $colorKinGray
            +mobile()
                font-size: 16px
                padding: 0px
                margin-top: 5px
    &__list
        display: flex
        max-width: 1120px
        width: 100%
        margin: auto
        +mobile()
            flex-direction: column
        & > * 
            width: 100%
            height: 265px
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            border-top: 5px solid $colorKinBlue
            background-color: white
            position: relative
            z-index: 1
            transition: all 0.3s ease
            &:not(:last-of-type)
                margin-right: 20px
                +mobile()
                    margin-right: 0px
                    margin-bottom: 20px
            h3 
                margin-top: 30px
                font-size: 20px
                font-weight: bold
                transition: all 0.3s ease
            a 
                position: absolute
                top: 0px
                right: 0px
                bottom: 0px
                left: 0px
                z-index: 1
            &::after 
                content: ''
                position: absolute
                top: 0px
                right: 0px
                bottom: 0px
                left: 0px
                background-color: $colorKinBlue
                filter: drop-shadow(rgba(black, 0.6) 0px 0px 20px)
                opacity: 0
                transition: all 0.3s ease
                z-index: -1
            svg 
                path 
                    transition: fill 0.3s ease
            &:hover
                &::after
                    opacity: 1
                h3
                    color: white
                svg 
                    path 
                        fill: white
    &__entry
        width: 360px
        height: 80px
        background-color: $colorKinBlue
        margin: 90px auto 0px
        transition: all 0.3s ease
        +mobile()
            width: 100%
            height: auto
        a 
            display: block
            height: 100%
            width: 100%
            display: flex
            align-items: center
            justify-content: center
            text-decoration: none
            color: white
            font-size: 24px
            font-weight: bold
            transition: all 0.3s ease
            +mobile()
                font-size: 18px
                padding: 20px 0px
        &:hover
            background-color: white
            a 
                color: $colorKinBlue
                transform: translate3d(5px ,0 , 0)
    &::before 
        content: ''
        position: absolute
        top: 47%
        right: 0px
        left: 0px
        bottom: 0px
        background-image: url('../assets/picture/レイヤー bg.png')
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        z-index: -2
        +mobile()
            top: 15%
    &::after
        content: ''
        position: absolute
        top: 47%
        right: 0px
        bottom: 0px
        left: 0px
        background-color: rgba($colorKinBlue, 0.8)
        z-index: -1
        +mobile()
            top: 15%
